@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: normal;
}

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
}

nav {
  position: fixed;
  top: 0px; 
  right: 5%;
  z-index: 9999; 
  background: #FFFFFF;
}
.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu > li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.main-menu a {
  font-family: Rockwell MT;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  display: block;
  margin-left: -1px;
  padding: 8px 10px;
  color: black;
}

.main-menu a:hover {
  background: #f5f5f5;
}

.main-menu .sub-menu {
  position: absolute;
  left: -50px;
  display: none;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #FFFFFF;
  box-shadow: 0 0 5px 2px #f5f5f5;
}

.main-menu .sub-menu a {
  font:normal normal normal 14px/1em  Akrobat-Regular;
}

.main-menu > li:hover  .sub-menu {
  display: block;
}
.sub-menu::before, .sub-menu::after {
  content: ''; 
  position: absolute;
  left: 141px; top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #f5f5f5;
}
.sub-menu::after {
  border-bottom: 10px solid white;
  top: -19px; 
}
.logo {
  height: 90px;
}
.contact img{
  height: 28px;
  width:  28px;
  border-radius: 2px;
}
footer {
  border-top: 1px solid; 
  height: 80px;
  padding-top: 30px;
}
footer span {
  display: block;
  float: left;
  font-size: 18px;
  margin-left: 50px;
}
.cont2 {
  display: block;
  width: 40%;
  margin: 7px 0 0 5px;
  float: right;
}
.cont2 span {
  display: block;
  margin: 0 10px;
}
.cont2 a {
  text-decoration: none;
  height: 28px;
  width:  28px;
  margin: 0 2px;
}
.cont2 img{
  float: left;
  height: 20px;
  width:  20px;
  border-radius: 2px;
  margin-right: 5px;
}